/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;900&display=swap');
@import "bootstrap";
@import "font-awesome";
@import "./header.scss";
@import "./categories.scss";
@import "./devise.scss";
@import "./footer.scss";
@import "./home.scss";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // font-family: 'Roboto Slab', serif;
    font-family: 'Inter', sans-serif;
    font-size: 18px;

    .btn {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &:hover {
            box-shadow: none;
        }
    }
    h1 {
        font-weight: 600;
        font-size: 38px;
        color: #22b300;
    }
}
