.banner {
    background: #f2f2f2;

    &__img {
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        border-radius: 50%;
        background: #212529;
    }

    h1 {
      padding: 0 20%;
      margin: 20px 0;
      font-size: 49px;
      font-weight: 900;
      color: #22b300;
    }

    p {
      padding: 0 20%;
      font-size: 20px;
      font-weight: 600;
    }

    &__btns {
      padding: 0 20%;

      button {
        font-weight: 300;
        font-size: 18px;
      }
    }
}

.card {
  background: #f0fdf8;
}
